# 2. Data Cleaning and Transformation

## Importing Libraries (Pandas)

In [10]:
import pandas as pd

## Checking Datasets

In [11]:
def missing(df):
  missing = df.isna().any().any()
  if missing:
    print(f'Missing values detected:{missing}')
  else:
    print('No missing values')

def duplicate(df):
  duplicate = df.duplicated().any().any()
  if duplicate:
    print('Duplicate values present')
  else:
    print('No duplicate values')

## Products Dataset

In [12]:
p = pd.read_csv('Products.csv')

missing(p)
duplicate(p)
p = p.drop_duplicates(subset=['product_id'])

print(p)

No missing values
No duplicate values
     product_id
0             1
1             2
2             3
3             4
4             5
..          ...
245         246
246         247
247         248
248         249
249         250

[250 rows x 1 columns]

## Games Dataset

In [23]:
g = pd.read_csv('Games.csv')

missing(g)
duplicate(g)
g = g.drop('game_id', axis=1)
g['price'] = g['price'].str.replace('$','').astype(float).round(2)

g.loc[g['product_id'] == 3, 'console'] = 'Atari 2600'
g.loc[g['product_id'] == 4, 'console'] = 'NES'
g.loc[g['product_id'] == 5, 'console'] = 'Atari 2600'
g.loc[g['product_id'] == 21, 'console'] = 'Super Nintendo'
g.loc[g['product_id'] == 105, 'console'] = 'Super Nintendo'
g.loc[g['product_id'] == 117, 'console'] = 'Super Nintendo'

print(g)
g.to_csv('games_clean.csv', index=False)

No missing values
No duplicate values

<ipython-input-23-70d7d0ad7888>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  g['price'] = g['price'].str.replace('$','').astype(float).round(2)

     product_id                        name         console      brand  \
0             1           Super Mario Bros.             NES   Nintendo
1             2         The Legend of Zelda             NES   Nintendo
2             3                     Pac-Man      Atari 2600      Namco
3             4                 Donkey Kong             NES   Nintendo
4             5              Space Invaders      Atari 2600      Taito
..          ...                         ...             ...        ...
121         122            Earthworm Jim 3D     Nintendo 64  Interplay
122         123      Super Ghouls 'n Ghosts  Super Nintendo     Capcom
123         124        Super Castlevania IV  Super Nintendo     Konami
124         125  NBA Jam Tournament Edition  Super Nintendo     Midway
125         126      Star Wars: Dark Forces              PC  LucasArts

                    genre  price  quantity
0              Platformer   20.0         9
1        Action-Adventure   25.0         7
2                    Maze   15.0        10
3              Platformer   18.0         8
4            Shoot 'em up   12.0        12
..                    ...    ...       ...
121            Platformer   35.0         3
122            Platformer   35.0         3
123      Action-Adventure   30.0         4
124                Sports   25.0         6
125  First-person shooter   40.0         3

[126 rows x 7 columns]

## Consoles Dataset

In [14]:
c = pd.read_csv ('Consoles.csv')

missing(c)
duplicate(c)
c = c.drop('console_id', axis=1)
c = c.drop('color', axis=1)
c['price'] = c['price'].str.replace('$','').astype(float).round(2)

print(c)
c.to_csv('consoles_clean.csv', index=False)

No missing values
No duplicate values

<ipython-input-14-7bfea588d595>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  c['price'] = c['price'].str.replace('$','').astype(float).round(2)

    product_id                                        name             brand  \
0          127                                         NES          Nintendo
1          128  Super Nintendo Entertainment System (SNES)          Nintendo
2          129                                Sega Genesis              Sega
3          130                                    Game Boy          Nintendo
4          131                                 PlayStation              Sony
5          132                                 Nintendo 64          Nintendo
6          133                              Sega Dreamcast              Sega
7          134                              Game Boy Color          Nintendo
8          135                               PlayStation 2              Sony
9          136                                        Xbox         Microsoft
10         137                                    GameCube          Nintendo
11         138                                    Xbox 360         Microsoft
12         139                  PlayStation Portable (PSP)              Sony
13         140                                 Nintendo DS          Nintendo
14         141                               PlayStation 3              Sony
15         142                                    Xbox One         Microsoft
16         143                                         Wii          Nintendo
17         144                            PlayStation Vita              Sony
18         145                                Nintendo 3DS          Nintendo
19         146                                       Wii U          Nintendo
20         147                               PlayStation 4              Sony
21         148                                  Xbox One X         Microsoft
22         149                             Nintendo Switch          Nintendo
23         150                              Sega Game Gear              Sega
24         151                                  Atari 2600             Atari
25         152                                 Neo Geo AES               SNK
26         153                               TurboGrafx-16               NEC
27         154                                 Sega Saturn              Sega
28         155                            Game Boy Advance          Nintendo
29         156                               Intellivision            Mattel
30         157                                ColecoVision            Coleco
31         158                                  Atari 5200             Atari
32         159                                Commodore 64         Commodore
33         160                                   Amiga 500         Commodore
34         161                          Sega Master System              Sega
35         162                                Atari Jaguar             Atari
36         163                 3DO Interactive Multiplayer               3DO
37         164                                Philips CD-i           Philips
38         165                             Game Boy Pocket          Nintendo
39         166                            Nintendo DS Lite          Nintendo
40         167                                      PSP Go              Sony
41         168                        Neo Geo Pocket Color               SNK
42         169                                    Game.com             Tiger
43         170                                 Virtual Boy          Nintendo
44         171                            WonderSwan Color            Bandai
45         172                                Nokia N-Gage             Nokia
46         173                                    Gizmondo  Tiger Telematics
47         174                              Tapwave Zodiac           Tapwave

    price  quantity
0   100.0         5
1   120.0         4
2    90.0         5
3    80.0         5
4   100.0         4
5   150.0         3
6   130.0         4
7    90.0         5
8   120.0         4
9   100.0         5
10  140.0         3
11  150.0         3
12  100.0         4
13  120.0         4
14  160.0         3
15  200.0         3
16  150.0         4
17  120.0         4
18  160.0         3
19  200.0         2
20  250.0         2
21  350.0         1
22  300.0         2
23   80.0         5
24  200.0         2
25  800.0         1
26  300.0         2
27  250.0         2
28   90.0         5
29  150.0         3
30  200.0         2
31  250.0         2
32  300.0         2
33  400.0         1
34  180.0         3
35  300.0         2
36  500.0         1
37  400.0         1
38   70.0         5
39  120.0         4
40  100.0         4
41  100.0         4
42  150.0         3
43  300.0         2
44  200.0         2
45   80.0         5
46  200.0         2
47  300.0         2

## Accessories Dataset

In [15]:
a = pd.read_csv('Accessories.csv')

missing(a)
duplicate(a)
a = a.drop('acc_id', axis=1)
a['price'] = a['price'].str.replace('$','').astype(float).round(2)

print(a)
a.to_csv('accessories_clean.csv', index=False)

No missing values
No duplicate values

<ipython-input-15-0a47f51d6b75>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  a['price'] = a['price'].str.replace('$','').astype(float).round(2)

    product_id                                          name  \
0          175          Xbox 360 Wireless Controller (Black)
1          176   PlayStation 4 DualShock 4 Controller (Blue)
2          177         Nintendo Switch Pro Controller (Gray)
3          178                  Xbox One Play and Charge Kit
4          179               PlayStation 2 Memory Card (8MB)
..         ...                                           ...
71         246                       Sega Genesis Game Genie
72         247                 Game Boy Printer Paper Refill
73         248                        PlayStation 2 Multitap
74         249              Nintendo Switch Labo Variety Kit
75         250  Xbox Wireless Controller Adapter for Windows

                               console  price  quantity
0                             Xbox 360   40.0        10
1                        PlayStation 4   50.0         9
2                      Nintendo Switch   60.0         8
3                             Xbox One   25.0        10
4                        PlayStation 2   10.0        10
..                                 ...    ...       ...
71                        Sega Genesis   30.0         8
72                            Game Boy    5.0        10
73                       PlayStation 2   30.0         7
74                     Nintendo Switch   70.0         5
75  Xbox Series X/S, Xbox One, Windows   25.0         8

[76 rows x 5 columns]

## Adding Category Column in Products Dataset
I had to load all of the products, games, consoles, and accessories datasets to do this portion.

In [19]:
p['category'] = ''
p.loc[p['product_id'].isin(g['product_id']), 'category'] = 'Game'
p.loc[p['product_id'].isin(c['product_id']), 'category'] = 'Console'
p.loc[p['product_id'].isin(a['product_id']), 'category'] = 'Accessories'
p.drop(p.index[251:], inplace=True)

missing(p)
duplicate(p)
print(p)
p.to_csv('products_clean.csv', index=False)

No missing values
No duplicate values
     product_id     category
0             1         Game
1             2         Game
2             3         Game
3             4         Game
4             5         Game
..          ...          ...
245         246  Accessories
246         247  Accessories
247         248  Accessories
248         249  Accessories
249         250  Accessories

[250 rows x 2 columns]

## Customers Dataset

In [17]:
customers = pd.read_csv('Customers.csv')

missing(customers)
duplicate(customers)
customers['full_name'] = customers['first_name'].str.cat(customers['last_name'], sep=' ')
customers = customers.drop('first_name', axis=1)
customers = customers.drop('last_name', axis=1)
customers = customers.drop('phone_number', axis=1)
customers = customers.drop('email', axis=1)

print(customers)
customers.to_csv('customers_clean.csv', index=False)

No missing values
No duplicate values
     customer_id           full_name
0              1       Zelenia Parks
1              2        Raphael Kirk
2              3      Kyla Contreras
3              4  Jacqueline Dillard
4              5      Noelle Farrell
..           ...                 ...
859          860        Darius Byers
860          861       Armand Potter
861          862         Dexter Peck
862          863       Travis Baxter
863          864           Lael Diaz

[864 rows x 2 columns]

## Transactions Dataset

In [18]:
t = pd.read_csv('Transactions.csv')

missing(t)
duplicate(t)
t['date'] = pd.to_datetime(t['date'])

print(t)
t.to_csv('transactions_clean.csv', index=False)

No missing values
No duplicate values
      trans_id  customer_id  product_id       date  payment_method
0            1          850         136 2023-06-14            cash
1            2          652         184 2023-03-30  mobile payment
2            3           20         196 2023-03-01            cash
3            4          443          58 2023-06-17  mobile payment
4            5          759         210 2023-01-30          credit
...        ...          ...         ...        ...             ...
1495      1496          471          89 2023-02-12            cash
1496      1497          213         232 2023-06-25            cash
1497      1498          101          47 2023-06-03           debit
1498      1499          691          75 2023-06-17            cash
1499      1500          659         145 2023-04-14  mobile payment

[1500 rows x 5 columns]